  k1    k2
0  a   4.0
1  a   3.0
2  a  12.0
3  b   6.0
4  b   7.5
5  b   8.0
6  c   3.0
7  c   5.0
8  c   6.0

In [7]:

import pandas as pd
data = pd.DataFrame({'k1': ['a', 'a', 'a', 'b','b', 'b', 'c', 'c','c'],
                 'k2': [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})
data

  k1    k2
0  a   4.0
1  a   3.0
2  a  12.0
3  b   6.0
4  b   7.5
5  b   8.0
6  c   3.0
7  c   5.0
8  c   6.0

In [4]:
import pandas as pd
data = pd.DataFrame({'k1': ['a'] * 3 + ['b'] * 3 + ['c']* 3, 'k2': [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})

In [8]:
data.sort_values(by='k2')
data

  k1    k2
0  a   4.0
1  a   3.0
2  a  12.0
3  b   6.0
4  b   7.5
5  b   8.0
6  c   3.0
7  c   5.0
8  c   6.0

In [ ]:
import panda as pd
data= pd.dataframe( {'k1':['SE']*10+['TE']*8+['BE']*5,'k2':[1,2,3,4,5,6,7,8,9,10,1,2,3,4,5,6,7,8,1,2,3,4,5]})

In [10]:
data.sort_values(by='k2')
data

  k1    k2
0  a   4.0
1  a   3.0
2  a  12.0
3  b   6.0
4  b   7.5
5  b   8.0
6  c   3.0
7  c   5.0
8  c   6.0