In [1]:
import pandas as pd
pd.set_option("display.max_rows",1000)    # or pd.options.display.max_rows=1000
pd.set_option("display.max_columns",20)   # or pd.options.display.max_columns=20 
pd.set_option('precision',7)
pd.set_option('large_repr', 'truncate')

In [6]:
import pandas as pd
data = pd.DataFrame({'group': ['a', 'a', 'a', 'b','b', 'b', 'c', 'c','c'],
                 'ounces': [2, 4, 1, 6, 5, 8, 3, 50, 6]})
data

  group  ounces
0     a       2
1     a       4
2     a       1
3     b       6
4     b       5
5     b       8
6     c       3
7     c      50
8     c       6

In [5]:
data.describe()

          ounces
count  9.0000000
mean   4.4444444
std    2.1858128
min    1.0000000
25%    3.0000000
50%    5.0000000
75%    6.0000000
max    8.0000000

In [7]:
s = pd.Series([1,3,5,np.nan,6,8])

NameError: name 'np' is not defined

In [13]:
data.sort_values(by=['ounces','group'], ascending=[False, True], inplace=True)
data

  group  ounces
7     c      50
5     b       8
3     b       6
8     c       6
4     b       5
1     a       4
6     c       3
0     a       2
2     a       1

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 2 columns):
group     9 non-null object
ounces    9 non-null int64
dtypes: int64(1), object(1)
memory usage: 224.0+ bytes

In [14]:
data.sort_values(by=['group','ounces'], ascending=[True, False], inplace=True)
data

  group  ounces
1     a       4
0     a       2
2     a       1
5     b       8
3     b       6
4     b       5
7     c      50
8     c       6
6     c       3

In [15]:
import pandas as pd
data = pd.DataFrame({'k1': ['one'] * 3 + ['two'] * 4, 'k2': [3, 2, 1, 3, 3, 4, 4]})

In [16]:


data.sort_values(by='k2')
data

    k1  k2
0  one   3
1  one   2
2  one   1
3  two   3
4  two   3
5  two   4
6  two   4

In [17]:
data.drop_duplicates()  # by default, duplicate is defined by all columns

    k1  k2
0  one   3
1  one   2
2  one   1
3  two   3
5  two   4

In [18]:
data.drop_duplicates(subset='k1')  # duplicate in column k1 only

    k1  k2
0  one   3
3  two   3

In [21]:
meat_to_animal = {
'bacon': 'pig',
'pulled pork': 'pig',
'pastrami': 'cow',
'corned beef': 'cow',
'honey ham': 'pig',
'nova lox': 'salmon'
}

def meat2animal(series):
    if series["food"]=='bacon':
        return 'pig'
    elif series["food"]=='pulled pork':
        return 'pig'
    elif series["food"]=='pastrami':
        return 'cow'
    elif series["food"]=='corned beef':
        return 'cow'
    elif series["food"]=='honey ham':
        return 'pig'
    else:
        return 'salmon'

In [22]:
data['animal'] = data['food'].map(str.lower).map(meat_to_animal)
data

KeyError: 'food'

In [23]:
import pandas as pd

idx = pd.date_range('09-01-2013', '09-30-2013')

s = pd.Series({'09-02-2013': 2,
               '09-03-2013': 10,
               '09-06-2013': 5,
               '09-07-2013': 1})

In [24]:
s.index = pd.DatetimeIndex(s.index)

s = s.reindex(idx, fill_value=0)
s

2013-09-01     0
2013-09-02     2
2013-09-03    10
2013-09-04     0
2013-09-05     0
2013-09-06     5
2013-09-07     1
2013-09-08     0
2013-09-09     0
2013-09-10     0
2013-09-11     0
2013-09-12     0
2013-09-13     0
2013-09-14     0
2013-09-15     0
2013-09-16     0
2013-09-17     0
2013-09-18     0
2013-09-19     0
2013-09-20     0
2013-09-21     0
2013-09-22     0
2013-09-23     0
2013-09-24     0
2013-09-25     0
2013-09-26     0
2013-09-27     0
2013-09-28     0
2013-09-29     0
2013-09-30     0
Freq: D, dtype: int64

In [25]:
import pandas as pd

idx = pd.date_range('09-01-2016', '09-30-2016')

s = pd.Series({'09-02-2016': 2,
               '09-03-2016': 10,
               '09-06-2016': 5,
               '09-07-2016': 1})

In [26]:
s.index = pd.DatetimeIndex(s.index)

s = s.reindex(idx, fill_value=0)
s

2016-09-01     0
2016-09-02     2
2016-09-03    10
2016-09-04     0
2016-09-05     0
2016-09-06     5
2016-09-07     1
2016-09-08     0
2016-09-09     0
2016-09-10     0
2016-09-11     0
2016-09-12     0
2016-09-13     0
2016-09-14     0
2016-09-15     0
2016-09-16     0
2016-09-17     0
2016-09-18     0
2016-09-19     0
2016-09-20     0
2016-09-21     0
2016-09-22     0
2016-09-23     0
2016-09-24     0
2016-09-25     0
2016-09-26     0
2016-09-27     0
2016-09-28     0
2016-09-29     0
2016-09-30     0
Freq: D, dtype: int64

In [27]:
import pandas as pd
data = pd.Series([1., -999., 2., -999., -1000., 3.])
data

0       1.0
1    -999.0
2       2.0
3    -999.0
4   -1000.0
5       3.0
dtype: float64

In [29]:
import numpy as np
data.replace(-999, np.nan, inplace=True)
data

0       1.0
1       NaN
2       2.0
3       NaN
4   -1000.0
5       3.0
dtype: float64

In [30]:
import pandas as pd
data = pd.DataFrame(np.arange(12).reshape((3, 4)),index=['Ohio', 'Colorado', 'New York'],columns=['one', 'two', 'three', 'four'])
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
New York    8    9     10    11

In [32]:


import numpy as np
import pandas as pd

dates = pd.date_range('20130101',periods=6)
df = pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD'))
df


df[df.A > -0.5]  # or df[df["A"] > -0.5], this syntax works when there is a space in the column name

                    A          B          C          D
2013-01-01  0.1383083  0.4394593  0.9788274  1.2734782
2013-01-02 -0.4685926 -0.7650928  0.4443147 -0.0375923
2013-01-04 -0.4244945 -0.4944975 -1.5250814 -0.0770459
2013-01-05  1.1459232  0.7017963 -0.8717767  0.5716580

In [34]:
df[0:4]  # get first 3 rows of the data frame

                    A          B          C          D
2013-01-01  0.1383083  0.4394593  0.9788274  1.2734782
2013-01-02 -0.4685926 -0.7650928  0.4443147 -0.0375923
2013-01-03 -0.7936110  1.0472547 -0.5090914 -0.8114877
2013-01-04 -0.4244945 -0.4944975 -1.5250814 -0.0770459